:root {
    --main-color: #7cd1f9;
    --hover-color: #77c8ee;
  }

* {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

html,body {
    margin: 0;
}

body {
    background-image: url('../images/cart-wp.png');
    background-color: white;
    background-blend-mode: normal;
    background-repeat: repeat;
    background-size: 120px;
}

a {
    color: var(--main-color);

    &:hover {
        color: var(--hover-color);
    }
}



.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    margin: 2px;
    color: white;
    padding: 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(8px, 3vw, 12px);

    &:hover {
        background-color: var(--hover-color);
    }

    &:active {
        -moz-box-shadow: 0 0 10px var(--main-color);
        -webkit-box-shadow: 0 0 10px var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
    }
  }

  .hide {
      display: none;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 25vw;
    min-width: 100px;

}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "h1 cart . h4 form"
        "h1 cart . call reg";

    position: sticky;
    height: fit-content;
    height: clamp(100px, 3vh, 120px);
    background-image: url('../images/cart-wp.png'), linear-gradient(black, gray);
    background-blend-mode: normal;
    background-repeat: repeat;
    background-size: 100px;
    top: 0;
    color: white;
    padding: 2.5vw;

    &__item {
        margin: 0;

        &--h1 {
            grid-area: h1;
            font-size: clamp(26px, 3vw, 40px);;
            font-weight: bold;
            text-decoration: none;
            color: white;

            &:hover {
                color: var(--hover-color);
            }
        }

        &--cart {
            grid-area: cart;
            position: relative;
            width: 30px;

            img {
                background-color: white;
                padding: 5px;
                border-radius: 50px;
                width: 100%;

                &:hover {
                    background-color: var(--hover-color);
                }
            }

            div {
                background-color: orange;
                border: 1px solid white;
                border-radius: 50px;
                color: white;
                font-size: 15px;
                text-align: center;
                height: 15px;
                width: 15px;
                position: absolute;
                right: -20px;
                top: -5px;
            }
        }

        &--h4 {
            grid-area: h4;
            font-size: clamp(8px, 3vw, 12px);
        }
        
        &--admin-login-form {
            grid-area: form;
            display: flex;
            
            .form-inputs {
                width: 20vw;

                &__item {
                    font-size: clamp(6px, 3vw, 10px);
                }
            }
        }

        &--call-to-register {
            grid-area: call;
            font-size: clamp(6px, 3vw, 10px);
            color: white;
        }

        &--register {
            grid-area: reg;
        }

    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    &__item {
        margin: 10px;
        border-radius: 10px;
        border: 1px solid black;
        height: 100px;
        width: 100px;
        background-color: white;
    }
}